:root {
    --primary-color: #1d6161;
    --secondary-color: #97dbec;
    --accent1-color: #f2f9fa;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial,Helvetica, sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--primary-color);
}

header, main, footer {
    width: 840px;
    margin: 20px auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 5px;
    text-align: center;
    opacity: 0.65;
    background-color: var(--accent1-color);
    color: #121212;
}

nav, p, section {
    margin: 6px;
    padding: 8px;
}

li{
    
    border: 2px solid black;
    border-radius: 5px;
}

li a {
    display: block;
    align-items: center;
    padding: 5px 10px;
}

.flex{
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.flex img {
    border-radius: 10px;
    height: 100px;
    width: auto;
}

.flex ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }


section h2 {
    text-align: center;
    color: var(--secondary-color);
    padding: 20px;
    background-color: var(--primary-color);
    margin: 10px;
}

.socialmedia a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.hero article img { 
    float: right;
    width: 125px;
    opacity: 100;
}   

.hero article {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 10px;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #121212;
}

.history img{
    width: 200px;
    height: auto;
}

.history {
    display: flex;
    align-items: center;
}

.adventure { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.adventure img{
    width: 150px;
    height: auto;
}

footer p {
    text-align: center;
}


.socialmedia{
    display: flex;
    align-items: center;
}

.socialmedia img{

    width: 32px;   
    height: auto;
}

.end {
    display: grid;
    grid-template-columns: 80% 20%;
}

.company {
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}

.company p {
    margin: 1px;
    padding: 1px;
}

.company h1 {
    display: block;

}

iframe {
    width: 450px;
    
    float: left;
    margin: 10px;
}



.contact-form {
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: small;

}

.contact-form label {
    padding: 0px;
    margin: 0px;
}

.contact {
    display: grid;
}

.contact div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    text-align: center;
    align-items: center;
    justify-items: center;
}

.contact p {
    grid-row: 1 / 4;}

.radio-type {
    text-align: center;
    align-items: center;
}

button {
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}

a:hover {
    background-color: gray;
}
.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employees h2 {
    grid-column: 1/4;
}
.employees figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
    text-align: center;
    font-size: small;
    height: auto;
    width: 150px;
}


.newsletter { 
    text-align: center;
    margin: 25px 0px 0px;
    padding: 0px;
}

.newsletter p {
    margin: 1px;
    padding: 1px;
}

.newsletter button {
    padding: 3px;
    background-color: antiquewhite;
}

.newsletter button:hover {
    background-color: #FFD95A;
}

.newsletter button {
    margin: 15px;
}

.purpose {
    width: 850px;
    margin: 0px;
    text-align: center;
}

.purpose h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--accent1-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid-item {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 12px;
}

.grid-item h3 {
    margin: 10px 0;
    color: #1d6161;
}

.grid-item p {
    font-size: medium;
    color: #333;
}

.contactus {
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}


.contactus a {
    padding: 4px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: antiquewhite;
    font-weight: 100;
}

.trips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-top: 30px;
}

.adventure {
    background-color: #f7fbfc;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px black
}

.adventure img {
    width: 100%;
    border-radius: 10px;
}

.adventure h3 {
    margin: 10px 0;
    color: var(--primary-color);
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    background-color: white;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.table th {
    background-color: var(--primary-color);
    color: white;
}
