:root {
    --main-color: #3B28CC;
    --secondary-color: #2667ff;
    --mid-color: #3f8efc;
    --light-color: #87bfff;
    --lighter-color: #add7f6;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}



nav {
    font-weight: bold;
    display: flex;
    background-color: darkblue;
    padding: 2px;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    border-radius: 10px;
    margin: 10px;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 2px solid var(--lighter-color);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

nav a:hover {
    background-color: var(--mid-color);
}

p{
    padding: 0px;
}

h1 {
    text-align: center;
    margin: 0px 10px 10px 10px;
    border-bottom: 1px solid black;
    color: darkblue;}

    

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 15px gray;
}


header, .grid, footer{
    max-width: 840px;
    margin: 0px
}

main {
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--light-color);
    max-width: 560px;
    grid-column: 2/5;
    margin: 1rem;
    
}

main p {
    margin: 10px;

}

main img{
    float: right;
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--main-color);
    padding: 0px;
    box-shadow: 0px 0px 15px 5px var(--lighter-color);
}


aside {
    width: 20rem;
    height: auto;
    grid-row: 1;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-radius: 10px;
    position: relative;
    background-color: var(--lighter-color);
    color: black;
}

aside h2 {
    color: white;
    position: absolute;
    top: 40px;
    left: 100px;
}

aside img {
    margin: 20px;
    width: 100%;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}

/* Class Selectors */

.box {
    text-align: center;
    list-style-position: inside;
    background-color: var(--lighter-color);
    color: black;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}
